#parrafo{
    text-align: center;
    position: relative;
    background-color: yellow;
    
}

#primarios{
   display: flex;
    justify-content: center;
 
    gap: 20px;
}

.primario{

}

#red{
    background-color: red;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#green{
    background-color: green;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#blue{
    background-color: blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#combbluered{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: color-mix(in srgb, red 50%, blue);
}

#combbluegreen{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: color-mix(in srgb, blue 50%, green);
}

#combgreenred{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: color-mix(in srgb, green 50%, red);
}

#parrafo2{
    text-align: center;
    position: relative;
    background-color: yellow;
}

#signo{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.elemento{
    width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
  border-radius: 50%;
}