main{
    border-left: double 10px black;
    border-top: dotted 10px green;
    border-right: dashed 10px blue;
    border-bottom: solid 10px red;
    width: 336px;
    height: 210px;
    display: inline-block;
    margin: 100px 100px 100px 100px;
    padding: 50px;
}

